<!doctype html>
<html {{ site.language_attributes }}>
{% block html_head %}
  <head>
    <meta charset="{{ site.charset }}">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
      window.config = window.config || {};
      window.config.baseUrl = "{{ site.url }}";
    </script>
    {{ function('wp_head') }}
    {% block head %}{% endblock %}
  </head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">
{% include "components/header.twig" %}

<section id="content" role="main">
  {% if title %}<h1>{{ title }}</h1>{% endif %}
  <div class="wrapper">
    {% block content %}
      {{ __('Sorry, no content', 'twist') }}
    {% endblock %}
  </div>
</section>

{% include "components/footer.twig" %}
</body>
</html>